<header class="header">
  <h2>total time: {{totalProjectTime}}</h2>
  <h2 class="bonus">Bonus : </h2>
  <h2 class="delay">Delay : </h2>
</header>

<!-- form -->

<form [formGroup]='taskForm' (ngSubmit)='onSubmit(taskForm)'>
  <input formControlName="name"[(ngModel)]="item.name" placeholder="task name">
  <input formControlName="descrption"[(ngModel)]="item.descrption" placeholder="task description">
  <input formControlName="totalTime" [(ngModel)]="item.totalTime" placeholder="task time">
  <input formControlName="deadLine" [(ngModel)]="item.deadLine" placeholder="task deadLine" type="date">
  <input formControlName="startDate"  [(ngModel)]="item.startDate" placeholder="task startDate" type="date">
  <input formControlName="employeeId" [(ngModel)]="item.employeeId" placeholder="employee name">
  <input formControlName="status" [(ngModel)]="item.status" placeholder="status">

  <button type="submit">send</button>
</form>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)" cdkDropList= "disable">
      <div class="example-box" 
      *ngFor="let item of todo" cdkDrag cdkDragDisabled="{{disabledDrag}}"><br>
        <p>task name :{{item.name}}</p><br>
        <p>task descrption :{{item.descrption}}</p><br>
        <p>task time :{{item.time}}</p><br>
        <p>task start date :{{item.startDate}}</p><br>
        <p>task end date :{{item.deadLine}}</p><br>
        <p>employee id :{{item.employeeId}}</p>
        <button type="button" (click)="deleteTask($event,item)">Delete</button>
        <button (click)="editTask($event,item)">Edit</button>
      </div>
    </div>
  </div>
</div> 