<Section class="friends py-3">
  <!-- <div> {{friend.name}}</div> -->
  <div class="container">
    <div class="friends__content" *ngFor="let friend of friends">
      <div class="friends__content-info">
        <div class="friends__content-info-img">
          <img class="img-fluid" src="../../assets/imgs/friends/friend.png" alt="" />
        </div>
        <div class="friends__content-info-name">
          <p>ahmed mohamed</p>
        </div>
      </div>
      <div class="friends__content-position">
        <p>ui developer</p>
      </div>
      <div class="friends__content-status">
        <p>offline</p>
      </div>
      <div class="friends__content-menu">

        <div class="btn-group dropleft">
          <mat-icon class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz
          </mat-icon>
          <div class="dropdown-menu">
            <p><a href="#">remove</a></p>
            <p><a href="#">block</a></p>
            <p><a href="#">message</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
