<section class="request py-3">
 <div class="container">
  <div class="request__content">
   <div class="request__content-info">
     <div class="request__content-info-img">
       <img class="img-fluid" src="../../assets/imgs/friends/friend.png" alt="" />
     </div>
     <div class="request__content-info-name">
       <p>ahmed mohamed</p>
     </div>
   </div>
   <div class="request__content-position">
     <p>ui developer</p>
   </div>
   <div class="request__content-state">
    <button class="btn btn-info mx-2">Accept</button>
     <button class="btn btn-danger">Reject</button>
   </div>
   
 </div>
 </div>
</section>
