

.example-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 60rem;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-half-width{
      width: 45%;
  }

  .save-edit{
    position: relative;
    left: 90%;
  }