<section class="nav">
    <nav class="nav-container">
        <figure class="nav-container__logo">
            <img class="" >
        </figure>
        <ul class="nav-container__list">
            <li class="nav-container__list-item"><a class="nav-container__list-item--link" routerLink="Home" routerLinkActive="active">Home</a></li>
            <li class="nav-container__list-item"><a class="nav-container__list-item--link"  routerLink="register" routerLinkActive="active">Register</a></li>
            <li class="nav-container__list-item"><a class="nav-container__list-item--link" routerLink="Login" routerLinkActive="active">Login</a></li>
        </ul>
    </nav>
</section>
