<<<<<<< HEAD
app-navbar{}
section{
    background-color:#f0efef;

    display: flex;
}
app-sidebar{
width: 17%;
height: 100vh;
}
=======
@import './ourVariables.scss';

// ******************profile********************//
>>>>>>> 8670bde4a3ac4e9fa4db063f3a332b75d11c3b81
