
<!-- <app-all-projects></app-all-projects>
 <app-admin-panel></app-admin-panel>
<app-drag-timer></app-drag-timer>
<app-developer-content></app-developer-content>
<router-outlet></router-outlet>
<app-create-project></app-create-project> -->
<!-- <app-account-navbar></app-account-navbar>
<app-navbar></app-navbar> 
<router-outlet></router-outlet>
<app-profile></app-profile>-->
<!-- <app-all-projects></app-all-projects> -->
<!-- <app-friends></app-friends>  -->
<!-- <app-login></app-login> -->
<app-register></app-register>
<!-- ----------------profile -------------- -->
<!-- <app-profile></app-profile> -->
<!-- <app-home></app-home> -->
