
$black:#333333;
$white:#f0efef;
$blue:#192965;
<<<<<<< HEAD
$lightBlue:#c6d9fa;
$orange:#fc6b10;
// $black:#333333;
// $white:#ffffff;
// $lightBlue:#2ca6ef;
// $blue:#192965;
// $orange:#fc6b10;
=======
$orange:#00ca5d;
>>>>>>> 8670bde4a3ac4e9fa4db063f3a332b75d11c3b81
$gray:#999999;
$boxShadow:0px 6px 5px 0px rgba(245, 242, 245, 1);
$mainFont:'Raleway';
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
<<<<<<< HEAD
$btnBorderRadius:20px;
=======
$btnBorderRadius :15px;
$btnBorderRadius:20px;
>>>>>>> 8670bde4a3ac4e9fa4db063f3a332b75d11c3b81
