
  <section class="aside">
    <aside class="aside-container">
      <div class="aside-container__logo">
        <h2 class="logo"><img src="https://i.imgur.com/ZWP4nIw.png">  Todo<span>less</span></h2>
      </div>
      <div class="aside-container__btn">
        <mat-icon class="aside-container__btn-icon">person_outline</mat-icon>
        <a class="aside-container__btn-link" routerLinkActive="active">
          Profile</a>
      </div>
      <div class="aside-container__btn">
        <mat-icon class="aside-container__btn-icon">dashboard</mat-icon>
        <a class="aside-container__btn-link" routerLinkActive="active">Project</a>
      </div>
      <div class="aside-container__btn">
        <mat-icon class="aside-container__btn-icon">supervisor_account</mat-icon>
        <a class="aside-container__btn-link" routerLinkActive="active">Friends</a>
      </div>
      <div class="aside-container__btn">
        <mat-icon class="aside-container__btn-icon">headset_mic</mat-icon>
        <a class="aside-container__btn-link" routerLinkActive="active">Support</a>
      </div>
    </aside>
  </section>