
  <section class="aside">
    <aside class="aside-container">
      <div class="aside-container__btn">
        <mat-icon class="aside-container__btn-icon">person_outline</mat-icon>
        <a class="aside-container__btn-link"  routerLinkActive="active">
          Profile</a>
      </div>
      <div class="aside-container__btn">
      <a class="aside-container__btn-link"  routerLinkActive="active">Project</a>
    </div>
    <div class="aside-container__btn">
      <a class="aside-container__btn-link"  routerLinkActive="active">Friends</a>
    </div>
    <div class="aside-container__btn">
      <a class="aside-container__btn-link"  routerLinkActive="active">Support</a>
    </div>
   

    </aside>
  </section>