@import './../ourVariables.scss';
a{
    text-decoration: none;
    color: $lightBlue;
}

mat-icon{
    color: #ffc200;
    margin-top: 1.3rem;
    margin-bottom: 4rem;
}
h2{
    margin-bottom: 2px;
    text-transform: capitalize;
}
p{
    color: $gray;
    font-size: 12px;
}
h3{
    margin-bottom: 2px;
    text-transform: capitalize;
    
}
.profile{
    background-color: #f7f7f7;
    height: 100vh;
    
    &__info{
        background-color: $white;
        padding: 3rem;
        margin-top: 15rem;
        &-details{
            color: $blue;
        }
    }
    &__info:first-of-type{
        padding: 3rem;
        margin-top: 15rem;
    }
    &__chart{
        background-color: $white;
        margin-top: 15rem;
        padding: 3rem;
    }
    &__comments{
        background-color: white;
        max-height:200px;
        overflow: auto;
        margin-top: 3rem;
        &-comment{
            border-bottom: 1px solid #eeeeee;
        }
        &-comment__user-img{
            figure{
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                overflow: hidden;
            }
        }
       
    }
}
.comments-parent__formContainer{
    &-form{
        display: flex;
        align-items: center;
        justify-content: center;
        textarea {
            width: 80%;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 12px;
            border: 1px solid #eeeeee;
            max-height: 75px;
        }
        button{
        width: 15%;
        margin-left: auto;
        padding: 10px 30px;
        font-size: 17px;
        background-color: $lightBlue;
        border-radius: 20px;
        box-shadow: $boxShadow;
        border: none;
        color: $white;
            &:disabled{
                background-color: #74c4f3;
            }
        }
    }
}

figure{
    background-color: #00ca5d;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    img{
        width: 100%;
    }
}
// *******star rating**********//
  .star-rating-filled{
    fill:gold;

}
.star-rating-blank{
    fill:   lightgray;
}
.col-12{
    background-color: $white;
}
.hovering-data{
    height: 20px;
    width: 20px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: $boxShadow;
    background-color: $white;
    position: relative;
    z-index: 5;
}


// ********** scroll style ************* //

::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 1px solid #d9dfe2;
    background-color: rgb(235, 235, 235);

  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cecece;
  }
  .borderLeft{
      border-left: 3px solid $lightBlue;
  }