@import '../ourVariables.scss';

a:hover{
    text-decoration: none;
}
main{
    font-family: $mainFont;

}


p{
    font-family: $mainFont;
    color:$gray;
    font-weight: $regular;
}
.about-background-image{
    background-image: url("../../assets/img/right-orange.png"),url("../../assets/img/left-blue.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    background-position-y: 30%, 90%;
    background-position-x: 109%, -9%;
}


.home{
    &-header{
        background-image: url('../../assets/img/hero.png');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100vh;
        &__nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-logo{
                color:$lightBlue;
                font-weight: $bold;
                font-size: 35px;
                margin-left: 8%;
                span{
                    color:$green;
                    font-weight: $medium;
                }
            }
            
            &-list{
                .nav-link{
                    color:white;
                    font-weight: $medium;
                    font-family: 'lato';
                    padding-left: 12px;
                    padding-right: 12px;

                }
                .nav-link:hover{
                    color: $blue;
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
}
                .signin{
                        background-color: white;
                        color:$blue;
                        margin-right: 7px;
                        font-weight: $semiBold;
                    }
                .signup{
                        background-color:$green;
                        color:white;
                        font-weight: $semiBold;
                }
            }
        }

    &__hero{
        padding-top: 15%;
        &-header{
            h1{
                font-family: $mainFont;
                font-size: 70px;
                line-height: 50px;
                font-weight: $bold;
                span{
                    font-size: 30px;
                    font-weight: $regular;
                }
            }
        }
        &-content{
            p{
                margin-bottom: 4%;
            }
            .started{
                background-color:$green;
                color:white;
                font-weight: $semiBold;
                padding: 10px;
            }
        }
    }    
}



     // --------------------Start How Work It-----------------

    &-work{
        padding: 2% 0%;
        &__container{
            &-row{
                display: flex;
                align-items:center;
                justify-content: space-evenly;
                video{
                    box-shadow: $boxShadow;
                }
                &-content{
                    padding-left: 7%;
                    padding-top: 15%;
                    h5{
                        color:$green;
                        font-family: $mainFont;
                        font-size: 25px;
                        font-weight: $medium;
                        margin-bottom: 2%;
                    }
                    h3{
                        color:$blue;
                        font-family: $mainFont;
                        font-size: 40px;
                        font-weight: $bold;
                    }
                    p{
                        width: 80%;
                    }
                    
                }
            }
        }
    }

    // --------------------End How Work It-----------------

    // -------------------- Start About Us-----------------

    &-about{
        padding: 3% 0%;       
        &__container{
            &-row{
                display: flex;
                align-items:center;
                justify-content: space-evenly;
                &-content{
                    padding-top: 15%;
                    padding-right: 6%;
                    h5{
                        color:$green;
                        font-family: $mainFont;
                        font-size: 25px;
                        font-weight: $medium;
                        margin-bottom: 2%;
                    }
                    h3{
                        color:$blue;
                        font-family: $mainFont;
                        font-size: 40px;
                        font-weight: $bold;
                    }
                    p{
                        width: 80%;
                    }
                }
            }
        }
    }

    // --------------------End About Us-----------------


    // --------------------Start Features-----------------

    &-features{
        padding: 3% 0%;
        &__container{
            &-header{
                text-align: center;
                font-family: $mainFont;
                h5{
                    color:$green;
                    font-family: $mainFont;
                    font-size: 25px;
                    font-weight: $medium;
                    margin-bottom: 2%;
                }
                h3{
                    color:$blue;
                    font-family: $mainFont;
                    font-size: 40px;
                    font-weight: $bold;
                }
            }
            &-row{
                .row{
                    display: flex;
                    align-items:center;
                    justify-content: space-between;
                    margin-top: 5%;
                    }
                    &__item{
                        background-color:white;
                        box-shadow: $boxShadow;
                        padding:5%;
                        text-align: center;
                        border-radius: 25px;
                        mat-icon{
                            font-size: 100px;
                            height: auto;
                            width: auto;
                            color: $blue;
                        }
                        h4{
                            font-family: $mainFont;
                            font-size: 20px;
                            color: $lightBlue;
                            font-weight: $bold;
                            margin-top: 3%;
                        }
                }
                &__item:hover{
                    background-color:$blue;
                    mat-icon{
                        color: white;
                    }
                    h4{
                    color: white;
                    }
            }

            }
        }
    }

    // --------------------End Features-----------------


    // --------------------Start Team-----------------

        &-team{
            padding: 3% 0%;
            &_img{
                padding-right: unset;
                padding-left: unset;
            }
            &__header{
                padding: 3% 0%;
                text-align: center;
                h5{
                    color:$green;
                    font-family: $mainFont;
                    font-size: 25px;
                    font-weight: $medium;
                    margin-bottom: 2%;
                }
                h3{
                    color:$blue;
                    font-family: $mainFont;
                    font-size: 40px;
                    font-weight: $bold;
                }
            } 
            &__gallery{
                margin: auto;
                justify-content: space-between;
                position: relative;
                top: 109px;
            &-item{
                h3{
                    font-family: $mainFont;
                    color: $blue;
                    font-size: 25px;
                    text-align: center;
                    font-weight: $semiBold;
                }
                    img{
                        border:4px solid white;
                    }
                    img:hover{
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
}
                }
            }

        }

    // --------------------End Team-----------------


    // --------------------Start Footer-----------------

    &-footer{
        background-color:$blue;
        padding: 10% 0 4% 0%;
        .boxheader{
            display:flex;
            justify-content: space-between;
            align-items:center;
        }

        &__container{
            padding: 0 2% ;
            &-header{
                color: white;
                justify-content: flex-end;
                padding: 2% 0%;
                margin-right: 10%;
               .form-group{
                   h3{
                       font-size: 20px;
                       margin: auto;
                       font-family: $mainFont;
                   }
               }
            }
            &-content{
                justify-content: space-evenly;
                padding: 0 8%;
                &-item{
                 
                    .nav-link{
                        color: white;
                    }
                }
            }
        }

    
    }


    // --------------------End Footer-----------------

}

    // --------------------End Landing Page-----------------

