 <section class="adminprofile">
    <div class="adminprofile-container">
        <!-- <nav class="adminprofile-container__nav">
            <button type="button" class="adminprofile-container__nav-role">CEO</button>
            <button type="button" class="adminprofile-container__nav-role">CTO</button>
            <button type="button" class="adminprofile-container__nav-role">PM</button>
            <button type="button" class="adminprofile-container__nav-role">PL</button>
            <button type="button" class="adminprofile-container__nav-role">TL</button>
            <button type="button" class="adminprofile-container__nav-role">Senior</button>
            <button type="button" class="adminprofile-container__nav-role">Junior</button>
        </nav> -->
        <main class="adminprofile-container__body">
            <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                <div class="adminprofile-container__body__form-content">
                    <div class="form__content-name">
                        <label>Name:</label>
                        <input type="text" placeholder="Username" [(ngModel)]="item.name" formControlName="name">
                    </div>
                    <div class="form__content-email">
                        <label>Email:</label>
                        <input type="email" placeholder="Email" [(ngModel)]="item.email" formControlName="email">
                    </div>
                    <div class="form__content-role">
                        <label>Role:</label>
                        <select id="Role" [(ngModel)]="item.role" formControlName="role">
                            <option value="CEO">CEO</option>
                            <option value="Project Manager">Project Manager</option>
                            <option value="Team Leader">Team Leader</option>
                            <option value="Employee">Employee</option>
                        </select>
                    </div>
                    <div class="form__content_password">
                        <label>Password:</label>
                        <input type="text" placeholder="Password" [(ngModel)]="item.password"
                            formControlName="password">
                    </div>
                    <button type="submit" value="Submit">Save</button>
                </div>
            </form>
            <aside class="adminprofile-container__side">
                <div class="adminprofile-container__side-search">
                    <ul class="adminprofile-container__side__search-list">
                        <section class="profiles">
                            <div class="profiles-container">
                                <div class="profiles-container__search-form">
                                    <label>Emplyees::{{itemLength}}</label>
                                    <input [(ngModel)]="filterValue" placeholder="Search">
                                </div>
                                <div class="profiles-container__list" *ngIf="employees?.length > 0 ; else noemployees">
                                    <ul>
                                        <li *ngFor="let item of employees | search:filterValue">
                                            {{item.name}} :{{item.role}}: {{item.email}}
                                            <button type="button" (click)="deleteEmp($event,item)">X</button>
                                            <button type="button" (click)="editEmp($event,item)">E</button>
                                        </li>
                                    </ul>
                                </div>
                                <ng-template #noemployees>
                                    <h5>There are no items to lists</h5>
                                </ng-template>
                            </div>
                        </section>
                    </ul>
                </div>
            </aside>
        </main>
    </div>
</section> 