@import './../ourVariables.scss';

.form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    &-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex:0 1 50%;
        justify-content: center;

    &__wrapper {
      flex: 0 1 70%;
      position: relative;
      display: flex;
      margin-bottom: 2.5rem;

      &-input {
        width: 100%;
        padding: 0.5rem 0.5rem;
        border: none;
        border-bottom: $orange solid 1px;
        transition: border-bottom 1s;

        &:focus {
          outline: none;
          border-bottom: #192965 solid 1px;

        }

        &:hover {
          border-bottom: #192965 solid 1px;
        }
      }
    }

    &__btns {
      flex: 0 1 40%;

      &-submit {
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
}
.form-container__wrapper-input-msg {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  color: red;
  outline: none;
  cursor: pointer;

}

.support {
  font-size: 20px;
  line-height: 2rem;
}

app-reg-animation {
  flex: 0 1 50%
}

.not-valid-name {
  position: absolute;
  bottom: 0;
  padding: 10px 0px 10px 20px;
  z-index: 1;
  color: red;
  right: 0;
  font-size: 10px;
  bottom: -30px;
  border: none;
  text-align: end;
}
