<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CREATE PROJECT FORM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

<form [formGroup]='projectForm' ngSubmit='createProject(projectForm)'>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Name >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Name:</label>
        <input class="form-container__wrapper-input" formControlName="name" type="text" placeholder="Project Name">
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Key >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Key:</label>
        <input class="form-container__wrapper-input" formControlName="id" type="text" placeholder="Key Number"
            value={{projectsLength}} disabled>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Privacy >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>privacy:</label>
        <select formControlName="privacy">
            <option value="private">Private</option>
            <option value="Public">Public</option>
        </select>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Color >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Label:</label>
        <select formControlName="color">
            <option value="red" (change)='SelectColor($event)'>Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Description >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Description:</label>
        <textarea formControlName="description"></textarea>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Next >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <button type="button">Next</button>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Attachment >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Attachment:</label>
        <input type="file" formControlName="attachment"  (change)='encodeImageFileAsURL($event,item)'>  
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Start Date >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project Start:</label>
        <input type="date" formControlName="startDate">
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project End Date >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Project End:</label>
        <input type="date" formControlName="endDate">
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Assign to >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <div class="profiles-container__search-form">
            <label>assign to:</label>
            <label>users::{{usersLength}}</label>
            <input formControlName="filterValue" placeholder="Search">
        </div>
        <div *ngIf="users?.length > 0 ; else nousers">
            <ul>
                <li *ngFor="let item of users | search:filterValue" style="cursor: pointer;">
                    {{item.name}} : {{item.email}}
                </li>
            </ul>
        </div>
        <ng-template #nousers>
            <h5>There are no items to lists</h5>
        </ng-template>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Project Invite by Email >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <div class="form-container__wrapper">
        <label>Invite by Email:</label>
        <input type="email" formControlName="invitors">
    </div>

    <button type="submit">Create</button>
</form>